
@{
    ViewBag.Title = "Transactions";
}
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<h2>All Transactions</h2>
@{ 
    List<string[]> transactions = Session["transactions"] as List<string[]>;
}

<div style="float:right">
    @Html.ActionLink("Logout", "Logout", "Login")
</div>
<table style="width:50%">
    <tr><th>Transaction ID</th><th>Amount($)</th><th>Status</th><th>Date</th></tr>
    @foreach (string[] row in transactions)
    {
       
        <tr>
            <td>@row[0]</td>
            <td>@row[1]</td>
            <td>@row[2]</td>
            <td>@row[3]</td>
        </tr>
    }
</table>